# Templating file to the untracked '.env' file
## Do not put sensitive information in this file and
## be sure to create the actual '.env' file based on this template
## so the actual values can be injected as environment variables

#############
# MySQL
#############
MYSQL_DATABASE=devbook
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=